registry=https://registry.npm.taobao.org
sass_binary_site=https://npm.taobao.org/mirrors/node-sass
phantomjs_cdnurl=http://cdn.npm.taobao.org/dist/phantomjs
puppeteer_download_host=https://storage.googleapis.com.cnpmjs.org
@cmao:registry=https://cnpm.codemao.cn/
//cnpm.codemao.cn/:_password="dzk2N2QyNGY2QTYyQlp0eUhqR1lOaXc="
//cnpm.codemao.cn/:username=developer
//cnpm.codemao.cn/:email=luoyunzhi@codemao.cn